<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar">
    <p><a href="/">Home</a></p>
    <p>
        <p><a href="/campgrounds">campgrounds</a></p>
        <p><a href="/campgrounds/new">Add new</a></p>
        
    </p>
</nav>
    <main class="container">
        <%- body %> 
    </main>
</body>
<script src="/js/bootstrap.min.js"></script>
</html>